.feed-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.post-card{
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.05);
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;

}
.post-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.caption {
    padding: 10px;
    font-size: 0.9rem;
}
@media Screen and ( max-width: 1000px){
    .feed-container {
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width :600px){
    .feed-container {
        grid-template-columns:1fr ;
        padding: 10px;
        gap: 15px;
    }
    .post-img{
        height: 250px;
    }
}